.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.list-menu__item--active:hover {
  text-decoration-thickness: 0.1rem;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}

.localization-selector{
  display: flex;
    padding: 0;
    text-decoration: none;
    gap: .7rem;
    align-items: center;
    width: calc(100% + 3.2rem);
}
.localization-selector span{
  white-space: nowrap;
}
.desktop-localization-wrapper{
  display: flex;
  gap: 1.5rem;
}
.localization-selector svg{
  height: 1.6rem;
  width: 1.6rem;

}
.icon-text{
  white-space: nowrap;

}